experiment.experiment.*:
  type: config_entity
  label: 'Experiment'
  mapping:
    id:
      type: string
      label: 'ID'
    uuid:
      type: string
      label: 'UUID'
    label:
      type: label
      label: 'Label'
    algorithm_id:
      type: string
      label: 'Algorithm indetifier'
    algorithm_config:
      type: sequence
      label: 'Algorithm configuration'
      sequence:
        - type: string
          label: 'Algorithm setting'
    actions:
      type: sequence
      label: 'Actions'
      sequence:
        - type: mapping
          label: 'Block'
          mapping:
            machine_name:
              type: string
              label: 'Machine Name'
            view_mode:
              type: string
              label: 'View Mode'
            selected_links:
              type: string
              label: 'Selected links'

experiment.settings:
  type: config_object
  label: 'General experiment settings'
  mapping:
    use_cookies:
      type: boolean
      label: 'Use cookies'
    server_side:
      type: boolean
      label: 'Do not use javascript for variation retrieval'
